<script src="{{ "/js/menu.js" | prepend: site.baseurl }}"></script>

<div class="test">

  <div class="parent2">
    <div class="test1"><a href="{{ site.baseurl }}/"><i class="fa fa-home fa-2x"></i></a></div>
    <div class="test2"><a href="https://www.linkedin.com/{{ site.theme.linkedin }}"><i class="fa fa-graduation-cap fa-2x"></i></a></div>
    <div class="test3"><i class="fa fa-code fa-2x"></i></div>
    <div class="test4"><a href="mailto:{{ site.theme.email_address }}" title="{{ site.theme.str_email }}"><i class="fa fa-envelope-o fa-2x"></i></a></div>
    <div class="mask2"><i class="fa fa-user fa-3x"></i></div>
  </div>
</div>
